/* body{
    background-color:#393E46;
    margin-top: 40px;
} */

/* .header{
    padding: 5px 120px;
    width: 150px;
    height: 70px;
    
}
.first{
   margin-top: -80px;
}



.btn {
    padding: 10px 40px;
    background-color:orange     ;
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
    border-style: hidden;
}

.textbox{
    padding: 10px 40px;
    background-color: white;
    border-radius: 10px;
    border-style: hidden;
    width: 200px;
}
     
::placeholder {
    color: black;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word{
    color:black;
    font-style: oblique;
    font-weight: bold;

}

.bottom{
    color: white;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
}
.bottom:hover{
    color: orangered;
} */

